django==2.2.13
gunicorn
django-crispy-forms
django_countries
django-filter
pillow
python-decouple
django-cors-headers
django-csp
django-progressive-web-app
whitenoise
django-heroku
django-tinymce
reportlab
django-social-share
# django-quran
