.header{
 background-image: url("/static/img/bg.png");
 background-color: #333748;
 color: white;
}

footer{
    background: #32312C;
    color: #FFFFFF;
}

footer a{
    color: #929595
}
footer .footer-copyright{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.sidebar{
    background-color: #F8F9FA;
    color: #ffffff;
    height: 100%;
    right: 0px;
}
