{% extends "base.html" %}
{% load static %}
{% block title %} Sura {% endblock %}
{% block content %}


<!--<div class="container mt-5 mb-5">-->
    <div class="row">
        <div class="col-md-8 p-5">
        {% for aya,translation in ayas %}
            {{ sura.number }}:{{ aya.number }}
            <p class="float-right">{{ aya.arabic }}</p>
            <p class="translation">{{ translation.english }}</p>
            <hr class="pb-4">
        {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
<!-- </div>-->




{% endblock %}