{% load static %}
{% block sidebar %}
<div class="col-md-4 ml-auto sidebar sticky-top">
    <div class="pt-5">
        <h5><b>Donate</b> to make <b>Al-Qur'an</b> </br>accessible to every household</h5>
      <script src="https://cdn.donately.com/dntly-core/current/core.min.js"
              data-donately-id="act_274aa1b1002f"
              data-stripe-publishable-key="pk_live_sbkgk3unJXLlBqz5hyjb24cL"
              data-donately-amount="0"
              data-donately-dont-send-receipt-email="true"
              data-donately-payment-options="cc,ach" >
      </script>

    </div>
</div>
{% endblock sidebar %}

